@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-left">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


<style>
    .SpartanBody {
        background-image: url(https://www.rcm.it/wp-content/uploads/2019/09/pulire-scuola.jpg);
    }

    .SpartanNav {
        background-color: #f3cb7a;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: right;
    }
</style>

<body>
    <div style="margin-left:30%; float:left">
        <div style="position: relative; margin-left: -25%;width: 40%;">
            <form class="text-center border border-light p-5">

                <p class="h4 mb-4" style="color:white">Welcome To</p>
                <p style="margin-top: 5px;font-family:'Open Sans'; color:white; font-size: 35px"> Spartan Rooms</p>
                <p style="font-family:'High Tower Text'; color:white"> Reserve a Classroom!</p>
                <!-- Email -->
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" style="border-radius: 35px">

                <!-- Password -->
                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" style="border-radius: 35px">

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" style="border-radius:35px" type="submit">Log in</button>

                <!-- Register -->
                <p>
                    Not a member?
                    <a href="">Register</a>
                </p>
            </form>
        </div>
    </div>

    <div class="SpartanBody" style=" margin-right:70%">

    </div>

</body>