<style>
    .SpartanImage {

        background-image: url(https://www.rcm.it/wp-content/uploads/2019/09/pulire-scuola.jpg);
    }

    .SpartanLeftBackGroundColor{
        background-color: #f3cb7a;

    }

    .idk{
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: right;
    }
    .fitPage{
        height:85vh
    }
    .fitTo100{
        height:100%
    }
</style>

<script>


</script>
    <div name="WrapperDiv" class="container-fluid fitPage">
        <div class="flex-md-grow-0 container-fluid fitTo100">
            <div name="LoginContainer" class="col-md-10 container-fluid">
                <!--style="position: relative; margin-left: 90vh;width: 400px;"-->
                <form class="text-center p-5">

                    <p class="h4 mb-4">Welcome To</p>
                    <p> Spartan Rooms</p>
                    <p> Reserve a Classroom!</p>
                    <!-- Email -->
                    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                    <!-- Password -->
                    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

                    <div class="d-flex justify-content-around">
                        <div>
                            <!-- Remember me -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                            </div>
                        </div>
                    </div>

                    <!-- Sign in button -->
                    <button class="btn btn-info btn-block my-4" style="border-radius:15%" type="submit">Log in</button>

                    <!-- Register -->
                    <p>
                        Not a member?
                        <a href="">Register</a>
                    </p>
                </form>
            </div>
        </div>
        @*<div name="roomImageDiv" style="width:70%; height:100%;float:right;">
            <div style="width:100%; height:100%;background-repeat:no-repeat;background-image: url(https://www.rcm.it/wp-content/uploads/2019/09/pulire-scuola.jpg);background-size:cover;display:inline-block;background-position: center center">

            </div>
        </div>*@

    </div>
<!--End of wrapper div-->