@model SpartanRooms10_31_19.Models.CreateReservationViewModel

@{
    ViewData["Title"] = "View";
    //var Reservation = Model.Reservations;
}


    <div class="container-fluid fitTo100" style="position: absolute ; height: 100% ; background-color: #f3cb7a">
        <div class="flex-md-grow-0 container-fluid fitTo100">
            <h1>View</h1>

            <h4>Reservation</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="CreateReservation">
                        <input type="hidden" asp-for="ID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @*<div class="form-group">
                            <input asp-for="Reservation" class="form-control" />
                            <span asp-validation-for="Reservation" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <select asp-for="Student.ID" class="form-control">
                                @foreach (var student in Model.Students)
                                {
                                    <option value="@student.ID">@student.Name</option>
                                }
                            </select>
                            @*<label asp-for="Students" class="control-label"></label>
                            <input asp-for="Students" class="form-control" />
                            <span asp-validation-for="Students" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
