
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index">
    <input type="button" />
    <div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>